img {
    max-width: 100%
}

h1 {
    color: hsl(299, 32%, 60%);
    font-size: 48px;
    font-family: 'PT Serif', serif;
}

h2 {
    color: hsl(0, 0%, 40%);
    font-size: 21px;
    font-family: 'PT Serif', serif;
}

p {
    color: hsl(0, 0%, 40%);
    font-size: 18px;
    font-family: 'quicksand', serif;
}

a {
    color: hsl(299, 32%, 60%);
}
