.morning {
    text-align: center;
}

.pikespark {
    text-align: center;
    image-rendering: 100%;
    max-width: 100%;
}


figcaption {
    text-align: left;
    max-width: 60%;
    position: relative;
}

img {
    max-width: 60%;
    position: relative;
    align-content: center;
}

header {
    text-align: center;

}
