.morning {
    text-align: center;
}

img {
    max-width: 60%;
    position: relative;
    align-content: center;
}


.full {
    max-width: 100%;
    text-align: center;
    image-rendering: 100%;
    position: relative;
}

.figcaption {
    text-align: left;
    max-width: 40%;
    position: relative;
}


header {
    text-align: center;

}

.afternoon {
    text-align: center;
}
